<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, t('errors.count')) %><%= t('errors.explanation') %></h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="form_table">
    <div class="field">
      <tr>
        <th><%= form.label :task_name %></th>
        <td><%= form.text_field :task_name %></td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <th><%= form.label :content %></th>
        <td><%= form.text_field :content %></td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <th><%= form.label :priority %></th>
        <td><%= form.select :priority, Task.priorities.keys %></td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <th><%= form.label :limit, id: "task_limit" %></th>
        <td><%= form.date_select :limit %></td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <th><%= form.label :status %></th>
        <td>
          <% Task.statuses.each do |key,val| %>
            <label><%= form.radio_button :status, key %><%= key %></label>
          <% end %>
        </td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <th>ラベル</th>
        <td>
          <% labels.each do |label| %>
            <%= form.check_box :label_ids, {multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
            <% if label.official? %>
              <span class="official_label official_label_task_new"><%= label.label_name %></span>
            <% else %>
              <span class="user_label"><%= label.label_name %></span>
            <% end %>
          <% end %>
        </td>
      </tr>
  </table>

  <div class="actions">
    <%= form.submit class: "new_submit_btn btn btn-primary new_btn"%>
  </div>
<% end %>
