<div class="container-fluid base_bg">
  <div class="container main">
    <div class="main_wrapper">
      <p id="notice"><%= notice %></p>

      <h1><%= t('titles.task_title_index') %></h1>

      <div class="search_form">
        <%= form_with url: tasks_path, method: :get, local: true do |form| %>
          <%= form.label :title , t('activerecord.attributes.task.task_name') %>
          <%= form.text_field :title %>
          <label for="label_id">ラベル</label>
          <%= form.select :label_id, @labels.collect {|l| [l.label_name, l.id]}, include_blank: true %>
          <%= form.label :status, t('activerecord.attributes.task.status'), class: "status_search_label" %>
          <%= form.select :status, Task.statuses.keys, {include_blank: true} %>
          <%= form.submit '検索' , class: "btn btn-primary search_button"%>
        <% end %>
      </div>



      <%= link_to "優先順位でソートする", tasks_path(sort_priority: "true"), id: "sort_priority_button" %>
      <%= link_to "終了期限でソートする", tasks_path(sort_limit: "true"), id: "sort_limit_button" %>

      <table class="table table-hover">
        <thead>
          <tr class="table_ths">
            <th class="first_th task_title_th"><%= t('activerecord.attributes.task.task_name') %></th>
            <th class="task_content_th"><%= t('activerecord.attributes.task.content') %></th>
            <th class="task_label_th">ラベル</th>
            <th class="task_priority_th">
              <%= link_to "#{t('activerecord.attributes.task.priority')} ▼", tasks_path(sort_priority: "true"), id: "sort_priority_button" %>
            </th>
            <th class="task_limit_th">
              <%= link_to "#{t('activerecord.attributes.task.limit')} ▼", tasks_path(sort_limit: "true"), id: "sort_limit_button" %>
            </th>
            <th class="task_status_th"><%= t('activerecord.attributes.task.status') %></th>
            <th class="task_created_at_th"><%= t('activerecord.attributes.task.created_at') %></th>
            <th colspan="3" class="last_th task_btns_th"></th>
          </tr>
        </thead>

        <tbody class="task_tbody">
          <% @tasks.each do |task| %>
            <tr>
              <td class="task_title"><%= task.task_name %></td>
              <td><%= task.content %></td>
              <td>
                <% task.labels.each do |label| %>
                  <% if label.official? %>
                    <span class="official_label label_index"><%= label.label_name %></span>
                  <% else %>
                    <span class="user_label label_index"><%= label.label_name %></span>
                  <% end %>
                <% end %>
              </td>
              <td class="task_priority"><%= task.priority %></td>
              <td class="task_limit"><%= task.limit %></td>
              <td class="task_status"><%= task.status %></td>
              <td class="task_created_at"><%= l task.created_at %></td>
              <td><%= link_to t('buttons.task_show'), task, class: "btn btn-default btn_show"%></td>
              <td><%= link_to t('buttons.task_edit'), edit_task_path(task), class: "btn btn-default btn_edit" %></td>
              <td><%= link_to t('buttons.task_delete'), task, class: "btn btn-default btn_delete", method: :delete, data: { confirm: t('confirm.when_delete') } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @tasks %>
      <br>

      <%= link_to t('buttons.task_new'), new_task_path, class: "btn btn-primary new_btn" %>
    </div>
  </div>
</div>
