<div class="container-fluid base_bg">
  <div class="container main">
    <div class="main_wrapper">
      <p id="notice"><%= notice %></p>

      <h1>グループ一覧</h1>

      <table class="table table-hover group_table_index">
        <thead>
          <tr class="group_table_ths">
            <th class="first_th">グループ名</th>
            <th>詳細</th>
            <th>参加人数</th>
            <th>オーナー</th>
            <th colspan="3" class="last_th"></th>
          </tr>
        </thead>

        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><%= group.group_name %></td>
              <td><%= group.group_detail %></td>
              <td>まだ</td>
              <th><%= group.user.name %></th>

              <% if group.user.id == current_user.id %>
                <td><%= link_to 'Show', group %></td>
                <td><%= link_to 'Edit', edit_group_path(group) %></td>
                <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% elsif group.users.include?(current_user) %>
                <td><%= link_to 'Show', group %></td>
                <td><%= link_to 'Edit', edit_group_path(group) %></td>
                <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% else %>
                <td><%= link_to '参加する', groupings_path(group_id:group.id), method: :post %></td>
              <% end %>

            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'グループ作成', new_group_path, class: "btn btn-primary new_btn" %>
    </div>
  </div>
</div>
