<div class="container-fluid base_bg">
  <div class="container main">
    <div class="user_new_wrapper">
      <p id="notice"><%= notice %></p>

      <div class="user_show_content">
        <h1>ユーザー詳細</h1>
        <table class="user_show_table">
          <tr>
            <th><%= t('activerecord.attributes.user.name') %></th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th><%= t('activerecord.attributes.user.email') %></th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th><%= t('activerecord.attributes.user.created_at') %></th>
            <td><%= l @user.created_at %></td>
          </tr>
        </table>

        <h1>ユーザー作成ラベル</h1>
        <ul class="show_labels" >
          <% @labels.each do |label| %>
            <li class="show_label">
              <span class="user_label"><%= label.label_name %></span>
              <%= link_to label_path(label.id), method: :delete, data: { confirm: t('confirm.when_delete') } do %>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>
              <% end %>
            </li>
          <% end %>
          <li class="show_label">
              <%= link_to "ラベル作成", new_label_path, class: "btn btn-primary new_btn" %>
          </li>
        </ul>


          <% if current_user.admin? %>
            <p class="show_admin_bottun"><%= link_to "ユーザー一覧（管理画面）へ", admin_users_path, class: "btn btn-primary admin_new_btn" %></p>
          <% end %>


        <table class="table table-hover show_task_table">
          <thead>
            <tr class="table_ths">
              <th class="first_th task_title_th"><%= t('activerecord.attributes.task.task_name') %></th>
              <th class="task_content_th"><%= t('activerecord.attributes.task.content') %></th>
              <th class="task_priority_th"><%= t('activerecord.attributes.task.priority') %></th>
              <th class="task_limit_th"><%= t('activerecord.attributes.task.limit') %></th>
              <th class="task_status_th"><%= t('activerecord.attributes.task.status') %></th>
              <th class="task_created_at_th"><%= t('activerecord.attributes.task.created_at') %></th>
            </tr>
          </thead>

          <tbody class="task_tbody">
            <% @tasks.each do |task| %>
              <tr>
                <td class="task_title"><%= task.task_name %></td>
                <td><%= task.content %></td>
                <td class="task_priority"><%= task.priority %></td>
                <td class="task_limit"><%= task.limit %></td>
                <td class="task_status"><%= task.status %></td>
                <td class="task_created_at"><%= l task.created_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @tasks %>

        <div class="show_btns">
          <%= link_to t('buttons.back'), tasks_path %>
        </div>

      </div>

    </div>
  </div>
</div>
