<!DOCTYPE html>
<html>
  <head>
    <title>People'sTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="header_logo" href="/">People'sTask</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
          <div class="navbar-text navbar-right">
            <%= link_to new_task_path do %>
              <button type="button" class="btn btn-default navbar-btn">タスク作成</button>
            <% end %>
            <%= link_to tasks_path do %>
              <button type="button" class="btn btn-default navbar-btn">トップ</button>
            <% end %>

            <% if logged_in? %>
              <%= link_to user_path(current_user.id) do %>
                <button type="button" class="btn btn-default navbar-btn">ユーザー詳細</button>
              <% end %>
              <%= link_to session_path(current_user.id), method: :delete do %>
                <button type="button" class="btn btn-default navbar-btn">ログアウト</button>
              <% end %>
            <% else %>
              <%= link_to new_user_path do %>
                <button type="button" class="btn btn-default navbar-btn">ユーザー登録</button>
              <% end %>
              <%= link_to new_session_path do %>
                <button type="button" class="btn btn-default navbar-btn">ログイン</button>
              <% end %>
            <% end %>

          </div>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
